<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmAgro"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.codesgesture.farmagro.DashBoard" />
        <activity android:name="com.codesgesture.farmagro.PageDeveloper" />
        <activity android:name="com.codesgesture.farmagro.PagePrivacy" />
        <activity android:name="com.codesgesture.farmagro.PageTerm" />
        <activity android:name="com.codesgesture.farmagro.PageContact" />
        <activity android:name="com.codesgesture.farmagro.PageAbout" />
        <activity android:name="com.codesgesture.farmagro.CategoryPage" />
        <activity android:name="com.codesgesture.farmagro.PageProduct" />
        <activity android:name="com.codesgesture.farmagro.CartPage" />
        <activity android:name="com.codesgesture.farmagro.PageProductDetails" />
        <activity android:name="com.codesgesture.farmagro.LoginPage" />
        <activity android:name="com.codesgesture.farmagro.RegisterUser" />
        <activity android:name="com.codesgesture.farmagro.PageAddress" />
        <activity android:name="com.codesgesture.farmagro.AddressBook" />
        <activity android:name="com.codesgesture.farmagro.AddAddress" />
        <activity android:name="com.codesgesture.farmagro.Page_CheckOut" />
        <activity android:name="com.codesgesture.farmagro.PageSuccefull" />
        <activity android:name="com.codesgesture.farmagro.UpdateAddress" />
        <activity android:name="com.codesgesture.farmagro.PageAccount" />
        <activity android:name="com.codesgesture.farmagro.UpdateProfile" />
        <activity android:name="com.codesgesture.farmagro.PageOrder" />
        <activity android:name="com.codesgesture.farmagro.OrderProductDetails" />
        <activity android:name="com.codesgesture.farmagro.CancelOrderForm" />
        <activity android:name="com.codesgesture.farmagro.CancelMessage" />
    </application>

</manifest>